.brands {
  overflow: hidden;
  white-space: nowrap;
  margin: 50px 2rem 100px 2rem;
}

@keyframes infinite {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.brands-logos {
  display: inline-block;
  animation: infinite 30s linear infinite;
}

.brands-logos:before,
.brands-logos:after {
  content: "";
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  z-index: 2;
}
.brands-logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 245, 1),
    rgba(245, 245, 245, 0)
  );
}
.brands-logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 1),
    rgba(245, 245, 245, 0)
  );
}

.brands-logos img {
  padding: 0 40px;
}
