.counter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  padding: 0 2rem;
}

.counter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-number {
  font-size: 3rem;
  color: #d4af37;
}
.counter-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--clr-txt2);
}

@media (max-width: 799px) {
  .counter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
    padding: 0 3rem;
  }

  .counter-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
