.video-preview {
  display: flex;
  flex-direction: column; /* 拽住 转 转转 */
  align-items: center; /* 专 转转 驻专 */
  margin: 2rem 0;
}

.device {
  position: relative;
  display: inline-block;
  // margin: 1rem;
}

.device-iphone-14-pro {
  width: 220px; /*  专 拽注 */
  height: 400px; /*   拽注 */
  border: 0.8em solid #111;
  border-radius: 2.5em;
  background: #111;
  box-shadow: 0 0 0 2px #ccc;
  overflow: hidden;
}

.device-iphone-14-pro .device-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  overflow: hidden;
  background: #000;
}

.device-iphone-14-pro .device-screen {
  width: 100%;
  height: 100%;
}

.device-iphone-14-pro .device-screen video,
.device-iphone-14-pro .device-screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Dynamic Island */
.device-iphone-14-pro .device-header {
  position: absolute;
  top: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 28%;
  height: 6%;
  background: #000;
  border-radius: 1.5em;
  z-index: 5;
}

/* 驻转专 */
.device-iphone-14-pro .device-btns {
  position: absolute;
  left: -0.4em;
  top: 15%;
  width: 0.2em;
  height: 12%;
  background: #444;
  border-radius: 0.2em;
}

.device-iphone-14-pro .device-power {
  position: absolute;
  right: -0.4em;
  top: 30%;
  width: 0.2em;
  height: 18%;
  background: #444;
  border-radius: 0.2em;
}

.device-iphone-14-pro .device-stripe,
.device-iphone-14-pro .device-sensors {
  display: none;
}

/*  住 拽住 */
.video-preview-txt {
  text-align: center;
  margin-top: 1rem;
}

.video-preview-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-txt1);
  text-transform: uppercase;
}

.video-preview-description {
  font-size: 1rem;
  color: var(--clr-txt2);
}

@media (max-width: 580px) {
  .device-iphone-14-pro {
    width: 165px; /*  专 拽注 */
    height: 300px; /*   拽注 */
    border: 0.8em solid #111;
    border-radius: 2.5em;
    background: #111;
    box-shadow: 0 0 0 2px #ccc;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .device-iphone-14-pro {
    width: 220px; /*  专 拽注 */
    height: 400px; /*   拽注 */
    border: 0.8em solid #111;
    border-radius: 2.5em;
    background: #111;
    box-shadow: 0 0 0 2px #ccc;
    overflow: hidden;
  }
}
